@charset "UTF-8";
/* CSS Document */

#navigation {
	margin: center;
    padding: 0 0 20px 400px;
	border-bottom: 1px solid white;
	color: black;
	font-family: verdana, arial, sans-serif;
}

#navigation a:hover {
	border-bottom: 4px solid #F6F3F3;
	padding-bottom: 2px;
}
#navigation li {
	list-style: none;
	margin: 20;
	display: inline;
	font-family: verdana, arial, sans-serif;
	font-size: 0.8em;
	text-align: center;
}
#navigation a {
	text-decorations: none;
	font-weight: bold;
	float: left;
	margin: 0 20px 0 0px;
	color: #F9F7F7;
	text-align: center;
	
}
h1{
	padding: 450px 400px 0;
	font-size: 20em;
}
h2 {
	padding: 0 470px;
}